<div class="bg-white py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1">
        <i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light mb-4">Who is the creator?</h2>
        <p class="font-italic text-muted mb-4">
          I'm a PWU graduate BS in Information Technology. I'm a CompTIA passer
          and Web Developer, mostly backend. The language that I mostly use in
          developing is Java, Python, and sometimes C#. I am currently an IT
          student with a holistic knowledge on software and website development.
          I am knowledgeable in backend, with a goal to work in an environment
          to learn and gain more experience as a developer in this expertise.
        </p>
        <p class="font-italic text-muted mb-4">
          Want to contact me? Email me at
          <a
            href="https://mail.google.com/mail/u/0/?fs=1&to=irafornillos@gmail.com&tf=cm"
            >irafornillos@gmail.com</a
          >
        </p>
        <a href="/register" class="btn btn-success px-5 rounded-pill shadow-sm"
          >Join Now</a
        >
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2">
        <img
          src="https://media-exp1.licdn.com/dms/image/C4E03AQExk00_Nvof-Q/profile-displayphoto-shrink_800_800/0/1645957457938?e=1672272000&v=beta&t=YuwXnA68wCn42DIbuOb9Az6wSgIrE1yRaaorPDX-h7Y"
          alt=""
          class="img-fluid mb-4 mb-lg-0 rounded-circle"
        />
      </div>
    </div>
  </div>
</div>
